*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: fit-content;
}
/* styling for the navigation links*/
nav {
  width: 100%;
  height: 14vh;
  margin-top: 0px;
  background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgb(81, 122, 133) 100%);
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: fixed;
  z-index: 100;
 
}

nav > h2 {
  width: 23%;
  padding: 15px;
  color: rgba(0, 0, 0, 0.978);
  text-shadow: 4px 2px gray;
  font-size: x-large;
}

nav > a {
  text-align: center;
  margin-left: 198px;
  margin-top: 25px;
  padding: 5px;
  background-color: #d4d4d400;
  height: 40px;
  width: 90px;
  border: 2px solid beige;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  color: rgba(0, 0, 0, 0.978);
}

a:hover {
  transition: 5s;
  transition-delay: 1s;
  color: blue;
  background-color: blanchedalmond;
}

/* extensive style for main element as a wrapper for the featured properties, first property in the portfolio with detail*/
main {
  height: 184vh;
  width: 100%;
  padding-top: 87px;
  border: 2px auto;
  border-radius: 15px 15px;
  background-color:#1F2833 ;
}

main h1 {
  margin-top: 19px;
  margin-bottom: 9px;
  color: rgba(0, 0, 0, 0.978);
  background-image: linear-gradient(to top left, rgba(81, 88, 133, 0.778) 0%, rgba(131, 81, 133, 0.9) 100%);  padding-top: 15px;
  padding-left: 15px;
  background-size: cover;
  height: 10vh;
  width: 100%;
}

.flex {
  width: 100%;
}

.flex > img {
  float: left;
  width: 65%;
  height: 85vh;
  padding-left: 14px;
}

main h3 {
  font-size: x-large;
  font-weight: bolder;
  color:whitesmoke;
  padding-left: 15px;
  text-shadow: 1px 1px gray;
}

.details {
  line-height: 30px;
  font-weight: bolder;
  top: 210px;
  float: right;
  margin-right: 50px;
}

.details h2 {
  color:rgba(245, 245, 245, 0.918);
  font-weight: bolder;
  text-shadow: 1px 1px gray;
  margin-left: 15px;
}

.details hr {
  margin-left: 15px;
}
.details ul {
  
  color: white;
  line-height: 40px;
  padding-left: 34px;
}

.katampe-properties {
  height: 65vh;
  width: 100%;
  margin-right: 7px;
  padding-left: 15px;
  margin-left: 2px;
  display: flex;
  overflow: hidden;
}

.katampe-properties img:nth-last-child(1) {
  width: 26%;
}

.katampe-properties > img {
  width: 24%;
  height: 60vh;
  padding-left: 3px;
  margin-top: 11px;
}

img:hover {
  flex-grow: 0.5;
}

/* styling of this 2nd section of featured property is similar to above by float to left and right, ul,li and also flex grow */
.Listings {
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 10px;
  height: 175vh;
  width: 100%;
  border: 2px solid gold;
  background-color: #182628;
  border-radius: 15px 15px;
  overflow: hidden;
}

.Listings h2 {
  color:rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 1px 1px gray;
  padding-top: 5px;
}

.flexcontent {
  width: 100%;
  height: 90vh;
}

.flexcontent img:nth-child(1) {
  height: 85vh;
  width: 65%;
  flex-grow: 0;
  padding-top: 20px;
  float: left;
}

.aside {
  color: white;
  font: 1em;
  font-weight: bolder;
  text-align: left;
  line-height: 40px;
  padding-left: 36px;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

.Listings address {
  color: white;
  text-shadow: 1px 1px gray;
}

.more-img {
  height: 65vh;
  width: 100%;
  padding-top: 15px;
  margin-right: 7px;
  display: flex;
}

.more-img img {
  width: 24%;
  height: 60vh;
  padding-left: 3px;
}
.more-img img:nth-last-child(1) {
  width: 26%;
}

/*Here style  is applied to the about section with a background image while about is untop with an animation and detail also*/
.grid {
  background-image: url(./carousel.jpg);
  background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgba(81, 88, 133, 0.9) 100%);

  background-size: cover;
  height: 15vh;
  margin-top: 2vh;
  padding: 35px 40px;
  color: #182628;
  animation-name: zoom;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 8s;
  animation-direction: normal;
  animation-play-state: running;
 
}


@keyframes zoom {
  0% {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: small;
    color: bisque;
    padding-left: 35px;
    padding-top: 24px;
  }

  50% {
    padding-top: 3px;
    color: goldenrod;
    font: medium;
    padding-left: 49px;
    padding-top: 34px;
  }

  100% {
    font-weight: bold;
    opacity: 1;
    font: larger;
    color: aqua;
    padding-bottom: 27px;
  }
}

.more-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 62vh;
  margin: 0px 0px 2px 0px;
  padding: 15px 0 0 25px;
  font: 1.1em;
  color: white;
  font-weight: bolder;
  line-height: 2em;
  background-color: #2C3531;
}

.about-left > h3 {
  font: 2em sans-serif;
  color: gold;
}

.about-left {
  margin-top: 25px;
  width: 45%;
}

.about-right {
  margin-top: 58px;
  width: 45%;
  padding-right: 15px;
}

/*the services section were extensively styled below */
.services {
  height: 75vh;
  display: block;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url(./serviceslanding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgba(81, 88, 133, 0.9) 100%);
  
}

.services h1 {
  padding-left: 14px;
  font-size: xx-large;
  font: 3em sans-serif;
  padding-top: 120px;
  color: rgba(255, 240, 240, 0.048);
  text-shadow: 5px 7px rgba(0, 0, 0, 0.836);

}

.services p {

  padding-left: 550px;
  line-height: 25px;
  font-size: x-large;
  padding-top: 50px;
  color: #111111;

}

.servicesinfo {
  display: flex;
  height: 54vh;
  width: 90%;
  margin-top: 5px;
  margin-left: 17px;
  font: bolder;
  gap: 15px;
  
}

.servicesinfo h2 {
  color: goldenrod;
}

.manageproperties {
  padding: 17px 17px;
  width: 120%;
  background-color: gray;
  color: whitesmoke;
  line-height: 40px;
  border: 2px solid;
  border-radius: 10px 10px;
  margin-left: 65px;
  margin-top: 17px;
  height: 50vh;
  background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgba(81, 88, 133, 0.9) 100%);

}

.valuation {
  margin-top: 17px;
  padding: 27px 17px;
  height: 50vh;
  width: 120%;
  background-color: gray;
  color: white;
  line-height: 30px;
  border: 2px solid;
  border-radius: 10px 10px;
  background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgba(81, 88, 133, 0.9) 100%);

}

.valuation ul {
  margin-left: 44px;
  color: white;
}

/* below are style for footer section */

footer {
  height: 45vh;
  width: 100%;
  color: white;
  margin: 25px 0;
  background-color:#2F4454;
}

.newsletter {
 
  padding: 40px 14px;
  height: 34vh;
  width: 98%;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.newsletter > div {
  padding-left: 27px;
  width: 30%;
}
div + h1 {
  line-height: 29px;
}
footer div p {
  line-height: 29px;
}

footer .newsletter input {
  width: 100%;
  height: 3vh;
  margin-top: 15px;
  padding: 2px;
  padding-left: 20px;
  color: black;
}


footer .newsletter form [type="submit"]{
  padding-right: 16px;
  width: 50%;
  margin-left:60px;
  text-align:center;
}


footer .contact {
  font: 1.4em bold;
  line-height: 30px;
}

/*responsive website stlying*/
@media only screen and (max-width: 1196px) {
  .flexcontent img:nth-child(1) {
    width: 62%;
  }
}

@media only screen and (max-width: 1192px) {
  .manageproperties {
    line-height: 25px;
    height: 51vh;
  }

  .valuation {
    line-height: 25px;
    height: 51vh;
  }
}

@media only screen and (max-width: 1154px) {
  main h1 {
    margin-top: 5px;
  }

  nav > a {
    margin-left: 170px;
  }

  .manageproperties {
    line-height: 18px;
    height: 52vh;
  }

  .valuation {
    line-height: 22px;
    height: 52vh;
  }
}
@media only screen and (max-width: 1115px) {
  .flex > img {
    width: 57%;
  }

  footer .contact {
    line-height: 28px;
    width: 34%;
  }
}

@media only screen and (max-width: 1102px) {
  .flexcontent img:nth-child(1) {
    width: 60%;
  }
}

@media only screen and (max-width: 1073px) {
  .more-about {
    padding-top: 8px;
    line-height: 1.5em;
  }
  .about-left {
    margin-top: 22px;
    width: 45%;
  }

  .about-right {
    margin-top: 75px;
    width: 45%;
    padding-right: 20px;
  }
  .subscribe {
    width: 35%;
    margin-left: 14px;
  }
  div + h1 {
    line-height: 18px;
  }
  footer div p {
    line-height: 20px;
  }

  .valuation {
    margin-top: 15px;
    padding: 20px 17px;
  }

  footer .contact {
    line-height: 28px;
    width: 35%;
  }
  .Listings h2 {
    font-weight: bold;
  }
}

@media only screen and (max-width: 1048px) {
  .flexcontent img:nth-child(1) {
    width: 58%;
  }

  nav {
    width: 100%;
    height: 12vh;
  }
}

@media only screen and (max-width: 1017px) {
  nav > a {
    margin-left: 150px;
  }

  nav > h2 {
    font-size: large;
  }

  main h3 {
    font-size: large;
  }
}

@media only screen and (max-width: 999px) {
  .flexcontent img:nth-child(1) {
    width: 55%;
  }

  .newsletter {
    height: 38vh;
    width: 100%;
  }

  footer .contact {
    line-height: 28px;
    width: 36%;
    margin-right: 7px;
  }

  nav > a {
    margin-left: 120px;
  }
}

@media only screen and (max-width: 933px) {
  .aside {
    width: 34%;
    line-height: 28px;
  }

  .Listings h2 {
    width: 100%;
  }
}

@media only screen and (max-width: 909px) {
  .details {
    width: 34%;
  }

  .subscribe {
    width: 37%;
    margin-left: 20px;
  }

  .contact span {
    line-break: anywhere;
  }

  .services p {
    padding-top: 10px;
    font-size: large;
  }

  .more-about {
    padding-top: 0px;
    line-height: 1.2em;
  }
  .about-right {
    padding-top: 22px;
  }

  .manageproperties {
    line-height: 18px;
    height: 52vh;
  }

  .valuation {
    line-height: 20px;
    height: 52vh;
  }

  footer .contact {
    line-height: 22px;
  }

  nav > a {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 768px) {
  main h1 {
    font-size: large;
    margin-top: 0px;
  }
  nav {
    height: 13vh;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    
  }

  footer{
    height: 70vh;
  }

  footer .contact {
    line-height: 28px;
    width: 100%;
    margin-left: 25px;
  }
  footer .subscribe {
    width: 100%;
    margin-left: 25px;
    line-height: 28px;
    padding-top: 14px;
    
  }

  footer .newsletter form {
    width: 50%;
    padding: 2px;
    font-size: small;
    align-self: center;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 788px) {
  nav > a {
    margin-left: 60px;
    height: 30px;
  }

  .subscribe {
    width: 37%;
    margin-left: 20px;
    line-height: 24px;
  }

  .manageproperties {
    line-height: 15px;
    height: 55vh;
  }

  .valuation {
    line-height: 16px;
    height: 55vh;
  }

  footer {
    height: 90vh;
  }

  .services p {
    margin-top: 12px;
    width: fit-content;
    font-size: x-large;
    display: grid;
    padding-left: 38px;
  }

  .more-about {
    height: 85vh;
    line-height: 1.1em;
  }
  .newsletter {
    width: 100%;
  }

  footer .contact {
    line-height: 25px;
    width: 36%;
    margin-right: 7px;
  }

  .flex img {
    height: 75vh;
  }

  .details ul {
    line-height: 35px;
  }

  .servicesinfo {
    display: inline;
  }

  .manageproperties {
    line-height: 25px;
    height: 52vh;
    width: 100%;
    margin-left: 0;
  }

  .valuation {
    line-height: 25px;
    height: 52vh;
    width: 100%;
  }

  nav {
    height: 13vh;
  }

  nav > h2 {
    width: 23%;
    font-size: large;
  }

  nav > a {
    height: 40px;
    width: 70px;
    font-size: medium;
  }
}

@media only screen and (max-width: 642px) {
  .Listings h2 {
    font-weight: bold;
  }
  nav {
    height: 12vh;
  }

  nav > h2 {
    width: 25%;
    font-size:medium;
  }
  main h1 {
    font-size: large;
  }

  .about-left > h3 {
    font: 1.5em sans-serif;
  }

  .about-right {
    margin-top: 57px;
  }
  footer .subscribe {
    width: 100%;
    margin-left: 22px;
    line-height: 28px;
    padding-top: 14px;
    
  }
}

@media only screen and (max-width: 590px) {
  nav {
    height: 12vh;
  }

  nav > h2 {
    width: 27%;
    font-size: medium;
  }
  main h1 {
    font-size: large;
  }

  .Listings {
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 10px;
    height: 170vh;
    width: 100%;
    overflow: initial;
  }

  .more-img {
    overflow: scroll;
  }
  .more-img img {
    width: 42%;
    height: 45vh;
    padding-left: 3px;
  }

  .more-img img:nth-last-child(1) {
    width: 42%;
  }

  .flexcontent img:nth-child(1) {
    height: 50vh;
    width: 100%;
    flex-grow: 0;
    padding-top: 20px;
    float: none;
    padding-right: 7px;
  }

  .flex > img {
    float: none;
    width: 100%;
    height: 85vh;
    padding-inline-end: 9px;
  }

  main {
    height: 230vh;
  }

  .katampe-properties {
    height: 52vh;
    width: 100%;
    margin-top: 119px;
    margin-right: 7px;
    padding-left: 15px;
    margin-left: 2px;
    display: flex;
    overflow: scroll;
  }
  .katampe-properties > img {
    width: 42%;
    height: 40vh;
  }
  .katampe-properties img:nth-last-child(1) {
    width: 42%;
  }

  .details {
    line-height: 30px;
    font-weight: bolder;
    top: 210px;
    float: none;
    margin-right: 50px;
    width: 100%;
    height: 40vh;
  }

  .aside {
    width: 100%;
    height: 90vh;
    color: goldenrod;
    font: 1em;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-left: 36px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
  }
  .more-about {
    height: 133vh;
  }

  .newsletter {
    display: inline;
  }
  
  footer{
    height: 90vh;
  }
  footer .contact {
    line-height: 28px;
    width: 80%;
    margin-right: 22px;
  }
  footer .subscribe {
    width: 80%;
    margin-left: 22px;
    line-height: 28px;
    padding-top: 14px;
  }
  footer .newsletter form{
    margin-left: 50px;
  }
}

@media only screen and (max-width: 560px) {

  .flex > img {
    width: 100%;
  }

  nav > a {
    margin-left: 40px;
    font-size: small;
  }
  nav {
    height: 12vh;
  }
  nav > h2 {
    width: 27\%;
    font-size: small;
  }
 
}

@media only screen and (max-width: 503px) {
  
  nav > a {
    margin-left: 28px;
  }

  nav {
    height: 12vh;
  }
  
  .Listings {
    
    height: 176vh;
    
  }
}

@media only screen and (max-width: 473px) {
  .aside {
    line-height: 18px;
  }

  .more-about {
    height: 105vh;
    font: normal;
  }
}

@media only screen and (max-width: 468px) {
  .aside {
    line-height: 16px;
    padding-left: 17px;
  }

  .valuation {
    line-height: 24px;
    height: 60vh;
  }

  .about-right {
    margin-top: 58px;
  }

  .more-about {
    height: 110vh;
  }
}

@media only screen and (max-width: 454px) {
  .about-right {
    margin-top: 76px;
  }
}

@media only screen and (max-width: 427px) {
  nav > a {
    margin-left: 20px;
    padding-top: 9px;
  }

  nav {
    height: 13vh;
  }

  .details ul {
    line-height: 17px;
  }

  

  .more-about {
    height: 110vh;
  }

  footer {
    height: 90vh;
  }
 
}

@media only screen and (max-width: 399px) {
  .flexcontent img:nth-child(1) {
    width: 49%;
  }

  .aside {
    line-height: 19px;
    padding-left: 9px;
  }

  nav > a {
    margin-left: 13px;
  
  }
}

@media only screen and (max-width: 395px) {
  .Listings {
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 10px;
    height: 170vh;
    width: 100%;
    overflow: initial;
  }

  .more-img {
    overflow: scroll;
  }
  .more-img img {
    width: 42%;
    height: 45vh;
    padding-left: 3px;
  }

  .more-img img:nth-last-child(1) {
    width: 42%;
  }

  .flexcontent img:nth-child(1) {
    height: 50vh;
    width: 100%;
    flex-grow: 0;
    padding-top: 20px;
    float: none;
    padding-right: 7px;
  }

  .flex > img {
    float: none;
    width: 100%;
    height: 85vh;
    padding-inline-end: 9px;
  }

  main {
    height: 220vh;
  }

  .katampe-properties {
    height: 52vh;
    width: 100%;
    margin-top: 119px;
    margin-right: 7px;
    padding-left: 15px;
    margin-left: 2px;
    display: flex;
    overflow: scroll;
  }
  .katampe-properties > img {
    width: 42%;
    height: 40vh;
  }
  .katampe-properties img:nth-last-child(1) {
    width: 42%;
  }

  .details {
    line-height: 30px;
    font-weight: bolder;
    top: 210px;
    float: none;
    margin-right: 50px;
    width: 100%;
    height: 20vh;
  }

  .aside {
    width: 100%;
    height: 90vh;
    color: goldenrod;
    font: 1em;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-left: 36px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
  }
  .more-about {
    height: 133vh;
  }
}

@media only screen and (max-width: 383px) {
  nav > a {
    margin-left: 6px;
    width: 56px;
    height: 32px;
  }
  nav {
    height: 12vh;
   
  }

  .manageproperties {
    line-height: 16px;
    height: 46vh;
  }

  .valuation {
    line-height: 24px;
    height: 70vh;
  }
  .about-right {
    margin-top: 84px
  }
  footer .newsletter form{
    width: 70%;
  }
  form input[type="submit"]{
    width: 50%;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 376px) {
  nav {
    height: 13vh;
    font-size: medium;
  }

  nav > a {
    margin-left: 7px;
  }

  nav >h2{
    width: 31%;
  }

  .about-right {
    margin-top: 83px;
  }

  .more-about {
    height: 135vh;
  }

  .more-img img {
    padding-top: 79px;
  }

  .Listings {
    height: 183vh;
  }

  .aside {
    height: 115vh;
  }

  footer {
    font-size: small;
  }
  footer .subscribe {
    padding-right: 4px;
  }

  

  main {
    height: 220vh;
  }
}
@media only screen and (max-width: 368px) {
 

  .about-right {
    margin-top: 105px;
  }
}
@media only screen and (max-width: 345px) {
  nav >h2{
    width:26%;
  }
  
}

@media only screen and (max-width: 354px) {
  .more-about{
    height: 141vh;
  }
}
@media only screen and (max-width: 337px) {
  main h3 {
    font-size: medium;
    padding-inline-end: 5px;
}
.Listings h2 {
  font-weight: bold;
  font-size: medium;
}

  .about-right {
    margin-top: 105px;
  }
  .more-about{
    height: 141vh;
  }
  nav{
    height: 13vh;
  }
}
